html, body {
  width: 100%;
  height: 100%;
}

@keyframes colorChange {
  0% {background-color: #f33;}
  16.67% {background-color: #ff3;}
  33.33% {background-color: #3f3;}
  50% {background-color: #3ff;}
  66.67% {background-color: #33f;}
  83.33% {background-color: #f3f;}
  100% {background-color: #f33;}
}

body {
  margin: 0;
  font-family: "Microsoft YaHei", "微软雅黑", tahoma, arial, "Hiragino Sans GB", sans-serif;
  color: white;
  animation-name: colorChange;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}
